*{
    margin: 0;
    padding: 0;
}

:root{
    --brand-color:#3CDBC0;
    --color-menu-font:#4a4a4a;
    --color-main-font:#FFFFFF;    

}

html{
    font-family: 'Rubik', sans-serif;
}

.header:hover
.header{
    margin-top: 10px;
    position: sticky;
  }

.container-logo{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
   
.menu{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;

}

.blog{
    display:inline-block  

         
}
.contact{
    display:inline-block
    }
    
main{
        height: 850px;
        width: min 320px;
        box-sizing: border-box;       
        background-color: var(--brand-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
     }
    
    .creando{
            font-size: 30px;
            font-weight: bold;
            color: var(--color-main-font)     
              
            }
    .diversidad{
        font-size: 30px;
        font-weight: bold;
        color: var(--color-main-font)       
            }
    .digital{
                font-size: 30px;
                font-weight: bold;
                color: var(--color-main-font)  
            }
  